@use 'sass:math';

/* СOLORS
------------------------ */

$colors: (
  'primary': #ee5847,
  'alt': #324dc0,

  'bg': #f2f6f9,
  'bg-secondary': #ccc,

  'text': #3e3e3e,
  'text-alt': #6b6b6b,

  'alert': #bd1b1b,
  'success': #38d523,

  'whte': #fff,
  'blck': #000,
);

/* EFFECTS
------------------------ */
$tr-1: ease;
$tr-2: ease-in;
$tr-3: ease-out;
$tr-4: ease-in-out;
$time: 0.3s;
$tr: ease-in;
$time-1: 0.1s;
$time-2: 0.2s;
$time-3: 0.3s;
$time-4: 0.4s;
$time-5: 0.5s;
$time-10: 1s;

/* FONTS
------------------------- */
$font-primary: 'openSans', 'Arial', sans-serif;

/* GRID
------------------------- */
$max-width: 1920px;
$max-width-text: 760px;

/* WRAPPER PADDINGS
------------------------- */
$pad-s: 10px;
$pad-m: 30px;
$pad-l: 80px;
$pad-xl: 100px;

/* SPACE
------------------------- */
$step: 5px;

/* BREAKPOINTS
------------------------- */
$xs: 480px;
$s: 620px;
$m: 768px;
$ms: 1024px;
$mt: 1200px;
$l: 1366px;
$ls: 1440px;
$lt: 1536px;
$xl: 1920px;
$xls: 2560px;
$retina: '(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx),(min-resolution: 144dpi)';

/* CONTENT WIDTH MULTIPLIER
------------------------- */

// $w-m: math.div(strip-unit(($m - $pad-m * 2)), 100%);
// $w-l: math.div(strip-unit((1366px - $pad-l * 2)), 100%);
// $w-xl: math.div(strip-unit(($max-width - $pad-xl * 2)), 100%);
