/* BASE STYLES
---------------------------- */
@layer default {
  :root {
    @if $colors {
      @each $key, $value in $colors {
        --color-#{$key}: #{$value};
        --color-#{$key}--rgb: #{hextorgb($value)};
      }
    }

    --font-primary: #{$font-primary};

    /* GAP SYSTEM
  ------------------------- */
    --gap-xxs: 5px;
    --gap-xs: 10px;
    --gap-s: 17px;
    --gap-m: 32px;
    --gap-l: 60px;
    --gap-xl: 110px;
    --gap-s-neg: -17px;
    --gap-m-neg: -32px;
    --gap-l-neg: -60px;
    --gap-xl-neg: -110px;

    /* RADIUS SYSTEM
  ------------------------- */
    --radius-xs: 10px;
    --radius-s: 15px;

    /** Z-INDEX SYSTEM
  ------------------------- */
    --index-1: 100; // Куки, чаты, фиксированные баннеры, кнопка вверх
    --index-2: 200; // Шапка
    --index-3: 300; // Модалки
    --index-4: 400; // Система уведомлений
  }

  html,
  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-weight: 400;
    font-size: 18px;
    color: cl(text);
    background-color: cl(bg);
    overflow-y: scroll;
    font-family: var(--font-primary), 'Arial', sans-serif;
  }

  body,
  button,
  input {
    font-family: var(--font-primary), 'Arial', sans-serif;
  }
}

@layer reset {
  a {
    color: cl(text);
    text-decoration: none;
  }

  h1,
  h2,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    line-height: 1;
  }

  h1 {
    @include space(bottom, 6);
  }

  h2 {
    font-size: 20px;
    @include space(bottom, 4);
  }

  h3 {
    font-weight: 600;
    margin: 0;
  }

  b,
  strong {
    font-weight: 700;
  }

  main {
    height: 100%;
  }

  button {
    font-size: 16px;
    background-color: transparent;
    font-weight: inherit;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
  }

  textarea {
    width: 100%;
  }

  input {
    &[type='text'] {
      width: 100%;
    }
  }
}
